<section class="product-container">
    
        <% products = $cakes %>
        <% products.each do |cake| %>
    <div class="products">  
        <h2><%= cake.name %> </h2>
        <img class="product-img" src=<%=cake.images %> >
            <%  description = cake.desc %>
            <%  description.each do |desc| %>
            <ul> 
                <li> <%= desc %> </li>                       
            </ul>
                <% end %>
        <p> $<%= cake.price %> </p>
        <form method="PATCH" action="/cart" autocomplete="off" class="cart-form">
            <label> Qty: </label>
            <input type="text" name="quantity" required>
            <a href="">
                <img src="/images/icons/025-shopping-bag.png">
            </a>
        </form>
    </div>        
        <% end %>
</section>