<section class="product-container">
    
        <% products = $cookies %>
        <% products.each do |cookie| %>
    <div class="products">  
        <h3><%= cookie.name %> </h3>
        <img src=<%=cookie.images %> >
            <%  description = cookie.desc %>
            <%  description.each do |desc| %>
            <ul> 
                <li> <%= desc %> </li>                       
            </ul>
                <% end %>
        <p> $<%= cookie.price %> </p>
    </div>  
        <% end %>
</section>