<section class="product-container">
    
        <% products = $muffins %>
        <% products.each do |muffin| %>
    <div class="products">  
        <h2><%= muffin.name %> </h2>
        <img class="product-img" src=<%=muffin.images %> >
            <%  description = muffin.desc %>
            <%  description.each do |desc| %>
            <ul> 
                <li> <%= desc %> </li>                       
            </ul>
                <% end %>
        <p> $<%= muffin.price %> </p>
        <form method="PATCH" action="/cart" autocomplete="off" class="cart-form">
            <label> Qty: </label>
            <input type="text" name="quantity" required>
            <a href="">
                <img src="/images/icons/025-shopping-bag.png">
            </a>
        </form>
    </div>
        <% end %>
</section>