/* .product-container, .product-container * {
    border: 1px solid red;
} */

.product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: var(--standard-row);
    margin: 4rem 0;
    justify-items: center;
}

.products {
    width: 90%;
    height: 65vh;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--off-white);
    box-shadow: var(--card-shadow);
}

.products h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.products img {
    height: 40vh;
    width: 100%;
    box-shadow: var(--img-shadow);
    margin: .5rem 0;
}
