/* .product-container, .product-container * {
    border: 1px solid red;
} */

.product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: var(--standard-row);
    margin: 4rem 0;
    justify-items: center;
}

.products {
    width: 90%;
    height: 75vh;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--off-white);
    box-shadow: var(--card-shadow);
    position: relative;
}

.products h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-img {
    height: 40vh;
    width: 100%;
    box-shadow: var(--img-shadow);
    margin: .5rem 0;
}

.products li, .products p {
    margin-bottom: .5rem;
}

/* .products .cart-form {
    position: relative;
} */

.cart-form label {
    position: absolute;
    bottom: 3.2rem;
    right: 5.6rem;
    font-size: 1rem;
}

.products .cart-form input {
    position: absolute;
    bottom: 3.2rem;
    right: 3.8rem;
    width: 1.5rem;
}

.products .cart-form a img {
    position: absolute;
    bottom: 3rem;
    right: 1.5rem;
    width: 10%;

}
